@import "./variables.css";
@import "./card.css";
@import "./header.css";
@import "./footer.css";
@import "./hero.css";
@import "./main.css";
@import "./button.css";
@import "./nav.css";
@import "./block.css";
@import "./media.css";
@import "./contact.css";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');